.Navigation {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-home {
  color: #000;
  padding: 20px;
}
.nav-account {
  color: #000;
  padding: 20px;
}
